<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gameassist.plugin.mc"
    android:versionCode="1"
    android:versionName="1.0" >
    <uses-sdk
        android:minSdkVersion="5"
        android:targetSdkVersion="21" />

     <application
         android:allowBackup="false"
         android:icon="@android:drawable/sym_def_app_icon"
        android:label="1.6" >
        <meta-data android:name="Entry" android:value="com.gameassist.plugin.mc.PluginEntry" />
        <meta-data android:name="Target0" android:value="*" />
        <meta-data android:name="Version0" android:value="*" />
        <meta-data android:name="Label" android:value="上帝模式" />
        <meta-data android:name="Description" android:value="上帝模式" />
    </application>
	<uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
</manifest>